.puddle-bg {
  display: inline;
  padding-inline: 7px;
  background-color: var(--color-accent);
  border-radius: var(--border-radius-small);
<<<<<<< HEAD

  &--light {
    background-color: var(--color-light);
  }
=======
>>>>>>> a69c53cdb1784b90a2ead3b4ea112ec8e4d56723
}
