.section {
    padding-block: var(--section-padding-y);

    &--hidden-x {
        overflow-x: hidden;
    }
    
    &__header {
        display: flex;
        align-items: center;
        column-gap: 40px;

        &:not(:last-child) {
            margin-bottom: 80px;
<<<<<<< HEAD

            @include mobile {
                margin-bottom: 40px;
            }
        }

        @include mobile {
            flex-direction: column;
            row-gap: 30px;
            text-align: center;
=======
>>>>>>> a69c53cdb1784b90a2ead3b4ea112ec8e4d56723
        }
    }

    &__description {
        max-width: 580px;
        font-size: 18px;    
    }

}